*.jpg
*.zip
*.pyc
result/
Construction-Site-Safety-5/
*.rar
image/
splits/
papers/
Construction-Site-Safety/
/img_embeddings.txt
__pycache__/
/Construction-Site-Safety
/data
/rare_classes

/RF-DETR_data
